
@font-face{
    src: url("/fonts/Cabin-Regular.ttf");
    src: url("/fonts/OldStandard-Regular.ttf");
}
body{
    margin:0;
    color:#4a4a4a;
    background-color:white;
    font-family: 'Cabin-Regular', sans-serif;
    
    }
body ul{
    font-family: 'OldStandard-Regular', sans-serif;
}
    
.content{
    display: flex;
    background-color: white;
    width: 1190px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid;
}
.section-gauche{
    display: flex;
    background-color: #448AFF;
    flex-direction: column;
    width: 400px;
    padding-bottom: 20px;
    flex: 1;
}
.photo-id{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.photo-id>img{
    border-radius: 50%;
    width: 200px;
    border: 4px solid rgba(64,64,64,.5);
}
.section-gauche h2{
    background-color: #404040;
    color:#448AFF;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px;
}
.section-gauche section{
    margin-top:  25px;
    margin-bottom: 25px;
}
.contact{
    order: 1;
}
.contact ul{
    margin-left: 10px;  
    margin-top: 35px;
    font-size: 18px;
}
.contact li{
    list-style-type: none; 
    margin-top: 20px;   
}
.contact>ul>li::first-line{
    font-weight: bold;
}
.contact a:link{
    color:white;
    text-decoration: none;
}
.contact a:hover{
    color: black;
    transition: all 0.5s;
}
.contact a:visited{
    color: white;
}
.apropos{
    order: 2;
    flex: 1;
}
.apropos p{
    margin-top: 30px;
    margin-left: 46px;
    margin-right: 46px;
    font-size: 1em;
    text-align:justify; 
}
.loisir{
    order: 3;
    }
.icones{
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    margin: 10px 20px;
    opacity: 0.9;
}
.icones>i{
    border: 2px solid;
    font-size: 39px;
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;   
}

/* section droite */
.section-droite{
    margin-top:50px;
    margin-left:5%;
    margin-right:5%;
    width: 750px;
}
.section-droite h1{
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: -25px;
}
.section-droite h2{
    font-weight: normal;
    font-size: 30px;
    margin-bottom: -3px;
}
.section-droite h3{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 300;
    border-bottom: 2px solid #448AFF;
    padding-bottom: 20px;
}
.section-droite h4{
    margin-bottom: -15px;
    font-size: 1.4em;
    font-weight: 400;
}
.section-droite h5{
    margin-bottom: -5px;
    font-size: 1em;
}
.entete>h1{
    font-size: 3.5em;
}
.entete h2{
    position: relative;
}
.entete span{
    color: #448AFF; 
}
.tiret::after{
    content:"";
    border-bottom: solid 2px #448AFF;
    height: 33px;
    position: absolute;
    width: 80px;
    left: 0;
    top: 0;
}
.fa-graduation-cap, .fa-briefcase, .fa-pencil-alt{
    margin-right: 20px;
    color: #448AFF;
    font-size: 1.3em;
}
.fa-dot-circle{
    margin-right: 20px;
    color: #448AFF;
}
.fa-circle{
    margin-right: 20px;
    font-size: 0.5em;
    color: #448AFF;
}
.cv{
    margin-top: 100px;
}
.cv ul{
    padding-left: 2px;
}
.cv li{
    display: flex;
    align-items: baseline;
    width: auto;
    list-style: none;
}
.cv h4{
    text-transform: uppercase;
}
.cv h5{
    font-weight: normal;
}
.bloc{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.date
{
    width: 25%;
    margin-left:0px;
    margin-right:30px;
}
.lieu
{
    width: 75%;
}
.lieu p {
    text-align: justify;
}
.experience ul{
    padding-left: 2px;
}
.experience li{
    display: flex;
    align-items: baseline;
    width: auto;
    list-style: none;
}
.experience h4{
    text-transform: uppercase;
}
.experience h5{
    font-weight: normal;
}
.recommandations ul{
    display: flex;
    justify-content: space-between;
    list-style: none;   
    font-size: 1em;
    font-weight: 500;
    line-height: 15px;
    padding-left: 0;
}
.recommandations li:nth-last-child(1){
    padding-right: 130px;
}
.recommandations p:nth-child(1){
    text-transform: uppercase;
    font-size: 1.2em;
}
.recommandations p:nth-last-child(1){
    font-size: 0.9em;
    font-weight: normal;
}

/*responsive tablette*/
@media all and (max-width: 900px){
    .content{
            width: 100%;
            margin: 0;
            flex-direction: column;
    }
    .section-gauche{
        width: 100%;
        margin-top: 200px;
        text-align: center;
        margin-bottom: -85px;
    }
    .contact ul{
        margin: 0;
        padding: 0;
    }
    .entete{
        position: absolute;
        top: 12px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0; 
        text-align: center;
    }
    .tiret::after{
        margin-left: auto;
        margin-right: auto;
        left: -280px;
        right: 0;
        top: 4px;
    }
    .section-droite h3{
        text-align: center;
    }
    .section-droite{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;
    }
    .section-droite li{
        display: flex;
        flex-direction: column;
    }
    .cv, .experience, .recommandations{.
        margin: 10px 0;
    }
    .bloc{
        display: flex;
        flex-direction: row;
        margin-right: 25px;
        margin-left: 50px;
    }
    .lieu{
        margin-left: -80px
    }
    .recommandations ul{
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }    
}  

/*responsive smartphone*/
@media all and (max-width: 420px){
    .section-gauche{
        margin-top: 260px;
        text-align: center;
    }
    h1{
        font-size: 1.5em; 
    }
    .entete h2{
        font-size: 1em;
        line-height: 48px;
    }
    .tiret::after{
        left: -112px;
        top: 2px;
    }
    .cv li{
        
    }
    .bloc{
        margin-left: -30px;
        margin-right: -30px;
        padding: 0;
        display: block;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }
    .cv, .experience, .recommandations {
        /* width: 100%; */
        /* margin: 0; */
    }
    .section-droite h3{
        font-size: 1.5em;
    }
    .section-droite h4{
        font-size: 1.2em;
        font-weight: 400;
    }
    .date{
        width: 100%;    
     }
     .lieu{
         display: block;
         margin:auto;
         text-align: center;
     }
     .lieu p{

        padding:0;
        text-align: justify;
     }
     .fa-circle, .fa-dot-circle{
        margin: 0;
        margin-bottom:10px;
     }
    .recommandations ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.8em;
        line-height: 0.5px;
    }        
    .recommandations li:nth-last-child(1){
        padding-right:0;
    }
   
}