/*style font */

h1{
    font-family: 'Roboto';
    font-size: 3.5em;
}
h2 
{
    font-family: 'Roboto';
    font-size: 2.5em;
}
h3 
{
    font-family: 'Roboto';
    font-size: 1.5em;
}
h4
{
    font-family: 'Roboto';
    font-size: 1.3em;
}
h5
{
    font-family: 'Roboto';
    font-size: 1em;
}
p
{
    font-family: 'Roboto';
    font-size: 1em;
}
em
{
    font-family:'Roboto';
    font-size: 1.2em;
}

body{
    font-family:'Roboto';
    margin:0;
    color:#4a4a4a;
    background-color: azure;
    }
body ul{
    font-family: Roboto;
}
.content{
    display: flex;
    background-color: white;
    width: 1190px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 8px 5px #020727; 
    box-shadow: 0px 2px 8px 3px #020727;
}
.section-gauche{
    display: flex;
    background-color: #448AFF;
    flex-direction: column;
    width: 400px;
    padding-bottom: 20px;
    flex: 1;
}
.photo-id{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.photo-id>img{
    border-radius: 50%;
    width: 200px;
    border: 4px solid rgba(64,64,64,.5);
}
.section-gauche h2{
    background-color: #404040;
    color:#448AFF;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: normal;
}
.section-gauche section{
    margin-top:  25px;
    margin-bottom: 25px;
}
.contact{
    order: 1;
}
.contact ul{
    margin-left: 10px;  
    margin-top: 35px;
    font-size: 18px;
}
.contact li{
    list-style-type: none; 
    margin-top: 20px;   
}
.contact>ul>li::first-line{
    font-weight: bold;
}
.contact a:link{
    color:white;
    text-decoration: none;
}
.contact a:hover{
    color: black;
}
.contact a:visited{
    color: white;
}
.apropos{
    order: 2;
    flex: 1;
}
.apropos p{
    margin-top: 30px;
    margin-left: 46px;
    margin-right: 46px;
    font-size: 1em;
    text-align:justify; 
}
.loisir{
    order: 3;
    }
.icones{
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    margin:2%;
    padding: 2%;
    min-width:40px;
    opacity: 0.9;
}

/* section droite */
.section-droite{
    margin-top:50px;
    margin-left:5%;
    margin-right:5%;
    width: 750px;
}
.section-droite h1{
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: -25px;
}
.section-droite h2{
    font-weight: normal;
    font-size: 30px;
    margin-bottom: -3px;
}
.section-droite h3{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2em;
}
.section-droite hr{
    border-bottom: 2px solid #448AFF;
}
.entete span{
    color: #448AFF; 
}
.tiret{
    width: 77px;
    margin-left: 0px;
    margin-top: 2px;
}
.fa-graduation-cap, .fa-briefcase, .fa-pencil-alt{
    float: left;
    margin-right: 20px;
    color: #448AFF;
    font-size: 1.3em;
}
.fa-dot-circle{
    float: left;
    margin-right: 20px;
}
.formation{
    margin-top: 100px;
}
.formation ul{
    padding-left: 2px;
}
.formation li{
    display: flex;
    align-items: baseline;
    width: auto;
    list-style: none;
}
.formation h4{
    text-transform: uppercase;
}
.formation h5{
    font-weight: normal;
}
.date
{
    width: 25%;
    margin-left:0px;
    margin-right:30px;
}
.lieu
{
    width: 75%;
}
.lieu p {
    text-align: justify;
}
.experience ul{
    padding-left: 2px;
}
.experience li{
    display: flex;
    align-items: baseline;
    width: auto;
    list-style: none;
}
.experience h4{
    text-transform: uppercase;
}
.experience h5{
    font-weight: normal;
}
.recommandation{
    list-style-type: none;
    font-size: 1.2em;
    margin-top: 50px; 
    padding-left: 2px;
}
.recommandation div{
    display:flex;
    flex-direction: row;
    margin-top: -27px;
}
.recommandation li{
    margin-right: 100px;
}
.recommandation a{
    color: #448AFF;
}
.recommandation>div>li>p:nth-child(1){
    font-weight: bold;
}

@media all and (max-width: 800px){
    .content{
            width: 80%;
            margin: 0;
            flex-direction: column-reverse;
    }
    .section-gauche{
        width: auto;

    }
    .section-droite{
        width: auto;        
    }
    .section-droite h1{
        font-size: 1.8em;
        margin-bottom: 0px;
        text-align: center;
    }
    .section-droite h2{
        font-size: 1.2em;
        text-align: center;
    }
    .section-droite h3{
        font-size: 1em;
    }
    .tiret{
        display: none;
    }
    .section-droite ul{
        text-align: center;
    }
    .date{
        text-align: center;
        flex-direction: row;
    }
    .recommandation div{
        flex-direction: column;
    }
    .recommandation ul{
        text-align: center;
    }

}